/*————————————————————————————————————————|Podstawowe|————————————————————*/
* {
    margin: 0;
    padding: 0;
}
:root {
    /*--main-color: rgb(253,217,141);*/
    --main-color: #333;
    --second-color: rgb(253,217,141);
    --bg-color: rgb(253,217,141);
    --font-color: black;
    --font-2nd-color: #f2a86f;
}
/*————————————————————————————————————————|Fonts|————————————————————*/
@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Apple';
    src: url('../files/fonts/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Apple-bold';
    src: url('../files/fonts/SFUIText-Bold.otf');
}
@font-face {
    font-family: 'Apple-heavy';
    src: url('../files/fonts/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Apple-semi-bold';
    src: url('../files/fonts/SFUIText-Semibold.otf');
}
@font-face {
    font-family: 'Apple-light';
    src: url('../files/fonts/SFUIText-Light.otf');
}
/*————————————————————————————————————————|Header|————————————————————*/
header {
    text-align: center;
    padding: 0.5em 0;
    background-color: var(--main-color);
    color: var(--second-color);
}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Apple-semi-bold';
    color: var(--main-color);
    padding: 0.5em;
    display: table-cell;
    vertical-align: middle;
}
nav img {
    vertical-align: middle;
}
nav a:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}
body {
    font-family: 'Apple';
}
footer {
    font-size: 0.8em;
    padding: 0.5em 0;
    text-align: center;
    background-color: var(--main-color);
    color: var(--second-color);
}
/*————————————————————————————————————————|Page|————————————————————*/
#page-content {
    max-width: 800px;
    padding: 0 0.5em;
}
#page-content h2 {
    margin: 0.5em 0;
    background-color: var(--main-color);
    padding: 0.5em;
    border-radius: 0.2em;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: 'Apple-semi-bold';
    color: var(--second-color);
}
h2, h3, h4, h5 {
    margin: 0.5em 0;
}

#searchelement {
    width: 95%;
    font-size: 1.2em;
    padding: 0.5em;
    border: none;
    border-bottom: solid 1px black;
}
#searchelement:focus {
    outline: none;
    font-size: 2em;
}
/*————————————————————————————————————————||————————————————————*/
.verb-container {
    max-width: 250px;
    padding: 0.5em;
}
.verb {
    display: flex;
    flex-direction: row;
}
.v {
    font-family: 'apple-semi-bold';
}
.pause {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.t {
    color: gray;
}
.conjugation-container {
    padding-top: 0.3em;
    padding-left: 0.5em;
}
.conjugation {
    display: flex;
    flex-direction: row;
}
.o {
    color: gray;
    text-align: right;
    width: 25%;
}
.c {
    margin-left: 0.5em;
    text-align: left;
    width: 75%;
}
.quote {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 0.5em;
}
.r {
    color: red;
}
.g {
    color: green;
}
.verb-container .g, .r {
    font-family: 'apple-semi-bold';
}
p::selection, span::selection, a::selection, input::selection {
    background-color: var(--second-color);
}
h1::selection, h2::selection {
    background-color: var(--second-color);
    color: black;
}
/*————————————————————————————————————————||————————————————————*/
.update {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border-radius: 0.2em;
}
.up-desc {
    padding: 0.5em;
    background-color: lightgray;
    background-color: var(--second-color);
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}
.version {
    font-size: 1.5em;
    font-family: 'apple-semi-bold';
}
.date {
    color: gray;
    font-size: 1em;
    text-align: right;
    width: 100%;
}
.vr-dt {
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}
/*————————————————————————————————————————||————————————————————*/
.image-box {
    display: flex;
    flex-direction: row;
    height: 5em;
    margin-bottom: 0.5em;
    overflow: hidden;
}
.image img {
    height: 5em;
    width: auto;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}
.image-desc {
    padding: 0.5em;
    background-color: var(--second-color);
    width: 100%;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}
.img-title {
    font-size: 1.5em;
    font-family: 'Apple-semi-bold';
}
/*————————————————————————————————————————||————————————————————*/
#phrases {
    margin-left: 0.5em;
}
.phrase-container {
    display: flex;
    flex-direction: row;
    margin: 0.2em 0;
}
.phrase {
    font-family: 'apple-semi-bold';
}
.phrase-container .translate {
    color: gray;
}
/*————————————————————————————————————————||————————————————————*/
#loadmore {
    background-color: var(--main-color);
    color: var(--second-color);
    font-family: 'apple-semi-bold';
    padding: 0.5em;
    border-radius: 0.2em;
    transition: background-color 0.2s, color 0.2s;
}
#loadmore:hover {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: background-color 0.2s, color 0.2s;
}
/*————————————————————————————————————————||————————————————————*/
@media screen and (min-width: 200px) {
    #mobile-widgets {
        visibility: visible;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        background-color: var(--main-color);
        color: var(--second-color);
    }
    #mobile-widgets a {
        padding: 0.5em;
        background-color: var(--main-color);
        text-decoration: none;
        color: var(--second-color);
        font-family: 'Apple-bold';
    }

}
@media screen and (min-width: 1050px) {
    #mobile-widgets {
        visibility: hidden;
    }
}
/*————————————————————————————————————————||————————————————————*/